SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=tours_db
POSTGRES_USER=tours_user
POSTGRES_PASSWORD=tours_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
